name: Deploy to EC2 Self-Hosted Runner

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci



    - name: Build Frontend
      run: npm run build

    - name: Start/Restart Application with PM2
      run: |
        npm install -g pm2
        if pm2 list | grep -q "nibs-server"; then
          pm2 restart nibs-server
        else
          pm2 start admin-server.js --name nibs-server
        fi
        pm2 save
